<!-- Modal con los pokemones seleccionados -->
<div id="pokemonInfoModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span
						class="sr-only">close</span></button>
				<h4 class="modal-title">Información de {{ pokemonTemp.name.toUpperCase() }}</h4>
			</div>
			<div class="modal-body">

				<div class="row">
					<div class="col-md-12">
						<p ng-bind="'Experiencia: '+pokemonTemp.base_experience"></p>
						<p ng-bind="'Altura: '+pokemonTemp.height+' metros'"></p>
						<p ng-bind="'Peso: '+pokemonTemp.weight+' libras'"></p>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-4">
						<h3>Habilidades</h3>
						<ul>
							<li ng-repeat="ability in pokemonTemp.abilities">
								<p ng-bind="'Nombre: '+ ability.ability.name"></p>
								<p ng-bind="'Es oculto: '+ (ability.is_hidden?'Si':'No')"></p>
								<p ng-bind="'Slot: '+ability.slot"></p>
							</li>
						</ul>
					</div>
					<div class="col-md-4">
						<h3>Movimientos</h3>
						<ul>
							<li ng-repeat="move in pokemonTemp.moves">
								<p ng-bind="move.move.name"></p>
							</li>
						</ul>
					</div>
					<div class="col-md-4">
						<h3>Aspecto</h3>
						<img src="{{ pokemonTemp.sprites.back_default }}" alt="" class="img-responsive"/>
						<img src="{{ pokemonTemp.sprites.front_default }}" alt="" class="img-responsive"/>
					</div>
				</div>


			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>