<!doctype html>
<html ng-app="pokeapiApp">
<head>
    <meta charset="utf-8">
    <title>Pokeapi con AngularJS</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="./../../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./../../../node_modules/angular-datatables/dist/css/angular-datatables.min.css">
    <link rel="stylesheet"
          href="./../../../node_modules/angular-datatables/dist/plugins/bootstrap/datatables.bootstrap.min.css">
    <link rel="stylesheet"
          href="./../../../node_modules/angular-loading-bar/build/loading-bar.min.css">
</head>
<body>

<div ng-controller="PokemonCtrl" class="container">

    <div class="row">
        <div class="col-md-4">
            <img src="/public/img/pokeapi.png" alt="" width="50%" class="img-responsive">
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="alert alert-info" role="alert"
                 ng-class="{'alert-info':pokemonsList.length<10,'alert-success':pokemonsList.length==10}">
                <strong>Pokemones seleccionados: </strong>{{pokemonsList.length | number}}
                <button class="btn btn-primary pull-right"
                        ng-click="viewPokemonsList()">Ver pokemones
                </button>
            </div>
            <ol type="a">
                <li>
                    <b>Limite:</b>
                    <span class="label label-info">HASTA 10 POKEMONES</span>
                </li>
                <li>
                    <b>Para buscar pokemones ingresa el nombre del pokemón en el buscador y presiona la tecla </b><span
                        class="label label-success">ENTER</span>
                </li>
                <li>
                    <b>Dejar en blanco el campo de búsqueda y presionar </b>
                    <span class="label label-success">ENTER</span>
                    <b>para resetear la búsqueda</b>
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <alert-message alert="alertMessageStateSearch"></alert-message>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="datatablePokemons" datatable="" dt-options="dtOptions" dt-columns="dtColumns"
                   dt-instance="dtInstance"
                   class="table table-hover row-border table-bordered table-striped hover">
            </table>
        </div>
    </div>

    <div ng-include="PATH_VIEW_MODAL_SELECTED_POKEMONS"></div>
    <div ng-include="PATH_VIEW_MODAL_INFO_POKEMON"></div>

</div>


<script src="./../../../node_modules/jquery/dist/jquery.min.js"></script>
<script src="./../../../node_modules/print-this/printThis.js"></script>
<script src="./../../../node_modules/datatables.net/js/jquery.dataTables.js"></script>
<script src="./../../../node_modules/angular/angular.min.js"></script>
<script src="./../../../node_modules/angular-datatables/dist/angular-datatables.min.js"></script>
<script src="./../../../node_modules/angular-datatables/dist/plugins/bootstrap/angular-datatables.bootstrap.min.js"></script>
<script src="./../../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="./../../../node_modules/angular-loading-bar/build/loading-bar.min.js"></script>
<script src="./../../config/config.js"></script>
<script src="./../../directives/AlertMessage.js"></script>
<script src="./../../services/HttpRequestServ.js"></script>
<script src="./../../services/DomServ.js"></script>
<script src="./../../services/AlertServ.js"></script>
<script src="./../../services/PokemonServ.js"></script>
<script src="./../../controllers/PokemonCtrl.js"></script>
<script src="./../../controllers/SelectedPokemonsCtrl.js"></script>
</body>
</html>